name: lint and test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: eslint and jest
    steps:
      - uses: actions/checkout@v3
      - uses: bahmutov/npm-install@v1

      - name: Run ESLint
        run: npm run lint
      - name: Run Jest
        run: npm run test
